@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,500;1,500&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Sans", sans-serif;
}
body{
  background-color: #000000;
}
